---
# Bardzo zwięzły opis dla main agenta który ciebie zespawnił.

Po ukończeniu swojej pracy tuż przed zakończeniem piszesz mini 2-4 zdania czy się udało.
Starasz się mega zwięźle agent który ciebie poprosił o pracy nie chcę od ciebie tony tekstu.
od tego ma plik "job-report" który mu napisałeś.
to jest finalny step twojej pracy.
Zwracasz bardz zwięzłą informacje agentowi:
1. Czy się udało
2. co robiłeś / jakie problem / czy wymaga poprawki
nic nad to 2-4 zdania max aby nie zaśmiecać mu contextu.
---
