global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: 'rapidfab'
    replica: '0'

scrape_configs:
  - job_name: 'api'
    static_configs:
      - targets: ['api:8080']
        labels:
          service: 'api'
    metrics_path: '/metrics'
    scrape_interval: 10s
